body{
    text-align: center;
}
div{
    top: 20px;
    left:10px; 
    height: 100px;
    width: 100px;
    /* background-color:blueviolet ; */
    border-radius: 50%;
    border: 7px solid blue;
    border-top : 7px solid black;
    
    /* display:flex; */
    /* align-items: center; */
    /* transition-property: all;
    transition-duration: 0.5s ;
    transition-timing-function: ease-in;
    transition-delay: 0s; */
    animation-name: colorAnimate 3s ease-in-out 0s infinite;
    /* animation-duration: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate; */
} 

@keyframes colorAnimate {
    from {background-color:blueviolet ;
           left :10px;
          transform: rotate(0deg);}
    to {background-color: red ;
           left: 100px;
        transform: rotate(360deg);}
    
}



#container{
    width: 800px;;
    height: 600px;

}

#box1{
    background-color: orange;
}

#box2{
    background-color: pink;
}

#box3{
    background-color: blue;
}

#box4{
    background-color: green;
}

#box5{
    background-color: yellow;
}


/* div:active{
    background-color: aqua;
    width:500px; 
    height:200px;
    font-size:20px;
    transform :scaleX(2);
    transform : rotate(90deg);
    


} */