div{
    color: brown;
    height: 200px;
    width: 200px;
    background-color:aqua;
    h1{
        color: brown;
        text-decoration: brown underline;
    
        text-align : center;
    }
    border-width:3px;
    border-color: black;
    border-style: solid;
    border-radius: 0;
    display: inline-block;


   

}  
 #box1{
    position:fixed;
    top:20px;
    background-image: url("bear.unsplash.jpg");
    background-size: cover;
}


#box2{
    position:absolute;
    left:500px;
    top: 100px;
    
}

#box3{
    position:sticky;
    top: 500px;
    left:20px;
}

body{
    background-image: url("bear.unsplash.jpg");
     background-size: contain;
}






