*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* body{
    background-image: url("tp244-bg4-05.jpg");
    background-size: cover;
    background-position: center;

} */
 body{
    width: 100%;
    background-image: url("tp244-bg4-05.jpg");
    background-size: cover;
    background-position: center;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    /* padding: 10px; */
}


.navbar{
    display:flex;
    width: 100%;

}


/* history button */

.history{
    z-index: 1998;
    margin-top: -10px;
    margin-right: 30px;
    /* background-color: #22223b; */
     background:   rgb(84, 91, 92);
    background-image: url("history\ icon.svg");
    background-size: cover;
    width:50px;
    height:50px;
    border-radius: 30%;
    border-radius: solid white 5px;
    position: fixed;
    right: 0;
    top: 5%;
    /* transform: translateY(-50%); */
    cursor:pointer;
    transition:0.5s;


}
.history:hover{
    transform :scale(1.1);
    transform : rotate(180deg);


}




/* menue button */
.menu{
    z-index: 1500;
    margin-top: -10px;
    margin-left: 30px;
    /* background-color: #22223b; */
     background:   rgb(84, 91, 92);
    background-image: url("menu.svg");
    background-size: cover;
    width:50px;
    height:50px;
    border-radius: 30%;
    border-radius: solid white 5px;
    position: fixed;
    left: 0;
    top: 5%;
    /* transform: translateY(-50%); */
}
.menu:active{
    transform :scale(1.1);
}
   

/* .mainbox{
    margin-top: 30px;
    margin-left: 500px;
    width:500px;
    height:700px;
    text-align: center;
    background-color:rgba(255,255,255,0.1);

    border: solid rgb(84, 91, 92) 2px;
    border-radius:5% ;
    box-shadow: 0 0 6px rgba(255,255,255,0.5);

    backdrop-filter: blur(10px);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
} */
.mainbox{
    width: 100%;
    max-width: 400px;

    min-height: 650px;

    text-align: center;

    background-color:rgba(255,255,255,0.1);

    border: solid rgb(84, 91, 92) 2px;
    border-radius:25px;

    box-shadow: 0 0 6px rgba(255,255,255,0.5);

    backdrop-filter: blur(10px);

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding: 20px;
}



/* #display{
    width:420px;
    height:100px;
    margin-top: 30px;
    background-color: rgb(139, 150, 151);
    border: black solid 3px;
    border-radius: 5%;
    font-size: 40px;
    text-align: right;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.6);

} */

#display{
    width: 100%;
    height: 90px;

    margin-top: 30px;

    background-color: rgb(139, 150, 151);

    border: black solid 3px;

    border-radius: 15px;

    font-size: 2rem;

    text-align: right;

    padding-right: 10px;

    box-sizing: border-box;
    
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.6);
}
.buttons{
    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 10px;

    margin-top: 25px;
    align-items: center;
     justify-items: center;
     padding: 15px;
}






/* .buttons button {
  margin-top: 100px;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 20px;
  font-size: 20px;
  border-radius:30% ;
  border: solid rgb(84, 91, 92) 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);

         background:   rgb(84, 91, 92);

   cursor: pointer;
   touch-action: manipulation;
  transition: all 0.2s ease;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5),
              -2px -2px 6px rgba(255,255,255,0.05);

} */
.buttons button {

  /* width: 100%; */
  width: 60px;
  height: 60px;
  
  padding: 10px;
  aspect-ratio: 1/1;

  font-size: 1.1rem;

  border-radius:20px;

  border: solid rgb(84, 91, 92) 3px;

  background: rgb(84, 91, 92);

  cursor: pointer;

  touch-action: manipulation;

  transition: all 0.2s ease;

  box-shadow: 4px 4px 10px rgba(0,0,0,0.5),
              -2px -2px 6px rgba(255,255,255,0.05);
}




button:hover{
  border: 3px solid black ;
  /* background: #ccc; */
    transform: translateY(-4px);
  /* background: #3c3c6e; */
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);

}

button :active{
    transform: scale(0.95);
  box-shadow: inset 2px 2px 6px rgba(0,0,0,0.6);
}




#multiplication,
#subtraction,
#addition,
#divide ,
#ca,
#percentage{
  background: #f59e0b;
  font-weight: bold;
}

#subtraction,
#addition,
#equal{
    /* background-color: #f59e0b; */
    font-size: 30px;
    /* font-weight: bold; */
}

#multiplication:hover,
#subtraction:hover,
#addition:hover,
#divide:hover,
#ca:hover,
#percentage:hover
 {
 
  background: #fbbf24;
}








.mainbox {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#clear{
    background-color: #f59e0b;
    background-image: url("delete-left-solid-full.svg");
    background-size: cover;

}



#equal{
    background-color:#f59e0b;
    /* background-image: url("arrow-right-to-bracket-solid-full.svg"); */
    background-size: cover;
}



footer{
    height:200px;
}





/* Notes panel (hidden by default) */
.notes-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  margin-bottom: 10px;
}

/* Active (open state) */
.notes-panel.active {
  max-height: 150px;
}

/* Textarea styling */
.notes-panel textarea {
 font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 140px;
  border: none;
  border-radius: 12px;
  padding: 10px;
  resize: none;
  font-size: 15px;
  background: #0f172a;
  color: #e2e8f0;
  box-shadow: inset 2px 2px 8px rgba(0,0,0,0.6);
}

/* Notes button style */
.notes-btn {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.notes-btn:hover {
  background: rgba(255,255,255,0.3);
  transform: scale(1.1);
}



/* sidebar */
.sidebar{
  align-items: right;
    top:0px;
    left:-300px;
    position:fixed;
    width:250px;
    height:100%;
    background-color:rgba(255,255,255,0.4);

    /* background: #1e293b; */
    padding:20px;
    transition: 0.4s ease-in-out;
    z-index: 1000;
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
}

.sidebar.active{
    left:0;
}

.sidebar ul {
   margin-right:0px ;
   margin-top: 100px;
   font-size: 20px;
   list-style: none;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sidebar ul li {
  list-style: none;
  font-weight: normal;
  padding: 15px 10px;
  height: 20px;
  
  margin-left:30px ;
  margin: 20px 0;
  /* background: #334155; */
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.list li:hover{
    background-color: rgba(255,255,255,0.1) ;
    border:#22223b solid 2px;
    
}

.list li:active{
    background-color: rgba(255, 255, 255, 0.053) ;
    border:#07070d solid 2px;
    
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}

/* Show overlay */
.overlay.active {
  opacity: 0.5;
  visibility: visible;
}


/* history sidebar*/
.sidebar1{
    top:0px;
    right:-450px;
    position:fixed;
    width:400px;
    height:100%;
    background-color:rgba(255,255,255,0.1);

     background: #1e293b;
    padding:20px;
    transition: 0.4s ease-in-out;
    z-index: 2000;
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    color: #e2e8f0;
}

.sidebar1.active{
    right:0;
}


.overlay1 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1999;
}

/* Show overlay */
.overlay1.active {
  opacity: 0.5;
  visibility: visible;
}


#clearhistory{
    bottom: 50px;
    position:absolute;
    right: 20px;
    color: rgb(26, 26, 26);
    background-color: rgb(84, 91, 92) ;
    background-size: cover;
    width: 100px;
    height: 30px;
    border-radius: 10%;
    border: solid rgb(84, 91, 92) 3px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.2s ease;
  }



.icon {
  filter: grayscale(100%) brightness(0);
}










@media (max-width: 600px){

    .mainbox{
        width: 100%;
        min-height: auto;
        padding: 15px;
    }

    #display{
        height: 80px;
        font-size: 1.8rem;
    }

    .buttons{
        gap: 10px;
    }

    .buttons button{
        font-size: 1.1rem;
    }

    .sidebar1{
        width: 85%;
    }
     .sidebar{
        width: 70%;
    }

}